html {
	text-align: center;
	margin: 0px auto;
	}
	
body {
	font-family: "Special Elite", Courier, serif;
	font-size: 11px;
	text-align: justify;
	line-height: 1.5em;
	margin: 25px auto;
	padding: 0px 100px;
	min-width: 750px;
	}

#header {
	width: 700px;
	text-align: center;
	margin: 25px auto;
	}
	
#header h1 {
	text-align: center;
	font-size: 400%;
	text-transform: uppercase;
	}
	
#header h2 {
	text-align: center;
	font-size: 200%;
	}
	
blockquote. {
	background-color: #eee;
	height: 3em;
	}
	
