@media screen {

html {
	padding: 0px;
	margin: 0px;
	}

body {
	background-color: #fceed5;
	top: 0px;
	margin: 0px;
	color: #3f3b35;
	}

body#dec a.curr  {
	color: #ff3400;
	}

#topline {
	display: none;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	width: 530px;
	font-family: "Gill Sans", Arial, sans;
	font-size: 0.8em;
	text-align: justify;
	color: #ff3400;
	line-height: 0.85em;
	}
	
#wrapper {
	padding: 0px;
	margin: 5px 0px 0px 0px;
	background-color: #fceed5;
	border-top: 1px double #ff3400;
	}	

#body {
	font-size: 1em;
	min-width: 330px;
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 20px;
	background: #fceed5 url('images/mo-border-l.png') no-repeat;
	background-position: left;
	background-size: 15px 95%;
	border-bottom: 1px double #ff3400;
	}
	
#body2 {
	background: url('images/mo-border-r.png') no-repeat;
	background-position: right;
	background-size: 15px 95%;
	padding: 0px 20px 0px 0px;
	margin: 0px;
	}

#censor {
	display: none;
	background-image: url(images/ma-censor-sm.png);
	background-repeat: no-repeat;
	width: 161px;
	height: 164px;
	}

#logo {
	display: block;
	padding: 5px 0px;
	margin-right: auto;
	margin-left: auto;
	width: 290px;
	height: 126px;
	background-image: url(images/mo-logo.png);
	background-repeat: no-repeat;
	background-size: 290px 126px;
	}

#logo h1 {
	font-family: "Special Elite", Courier, serif;
	font-size: 2.5em;
	text-align: center;
	font-weight: 100;
	}

#logo h1:hover, a:hover {
	font-weight: 800;
	text-decoration: none;
	}	

.nav {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 290px;
	max-height: 164px;
	background-image: url('images/mo-nav.png');
	background-repeat: no-repeat;
	background-size: cover;
	list-style: none;
	padding: 0px;
	}

.nav ul {
	list-style: none;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 9px;
	padding-left: 0px;
	text-align: center;
	font-family: "Special Elite", Courier, serif;
	color: #151a4e;
	font-size: 24pt;
	line-height: 20pt;
	}

.nav ul.mobile {
	cursor: pointer;
	}

.nav ul.bigger {
	display: none;
	}	

.nav li {
	margin-bottom: 6px;
	list-style: none;
	color: #151a4e;
	font-size: 16pt;
	text-align: center;
	font-family: "Special Elite", Courier, serif;
	}

.nav li a {
	text-decoration: none;
	/*color: #151a4e;*/
	color: #5e6180;
	}

.nav li a:hover {
	text-decoration: underline;
	font-weight: 600;	
	}

.nav li.bigger {
	display: none;
	}		

#content {
	font-family: "Cutive Mono", Courier, serif;
	font-size: 1.01em;
	line-height: 1.15em;
	text-align: left;
	border-top: 1px double #ff3400;
	margin-top: 10px;
	padding: 0px 10px;
	}

#content h1 {
	font-size: 1.8em;
	line-height: 1.81em;
	text-align: center;
	}	

#content p.leftfoot {
	display: none;
	float: left;
	margin-left: 2.5%;
	width: 150px;
	font-size: 0.8em;
	font-family: "Gill Sans", Arial, sans;
	text-align: center;
	color: #ff3400;
	}

#content p.rightfoot {
	display: none;
	float: right;
	margin-right: 2.5%;
	width: 150px;
	font-size: 0.8em;
	font-family: "Gill Sans", Arial, sans;
	text-align: center;
	color: #ff3400;
	}		

#content a {	
	font-weight: normal;
	}
	
#content a:hover {
	font-weight: 600;
	}	

#content sup {
	font-size: 75%;
	line-height: 10%;
	}
	
#footer {
	display: block;
	font-family: "Gill Sans", Arial, sans;
	font-weight: bold;
	color: #ff3400;
	font-size: 0.8em;
	text-align: center;
	background-image: url(images/mo-border-b.png);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 290px;
	height: 68px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 0px;
	}
	
#bottomline {
	font-family: "Gill Sans", Arial, sans;
	font-size: 0.8em;
	line-height: 0.8em;
	text-align: right;
	color: #ff3400;
	margin: 0px 0px 10px 0px;
	padding: 0px 5px 5px 0px;
	border-bottom: 1px double #ff3400;
	}	
	
blockquote {
	background-color: #fdf4e5;
	font-size: 0.9em;
	padding: 5px 10px;
	margin-left: 70px;
	border-left: 2px solid #ff3400;
	}
	
blockquote p.cite {
	text-align: right;
	font-style: italic;
	padding-left: 20px;
	}

a {
	text-decoration: none;
	color: #5e6180;
	}

a:hover {
	text-decoration: underline;
	color: #5e6180;
	font-weight: 600;		
	}

img {
	max-width: 100%;
	}

img.photo {
	width: 40%;
	height: auto;
	border: 2px solid #3f3b35;
	}

img.letter {
	display: inline;
	width: 40%;
	height: auto;
	border: 2px dashed #ff3400;
	margin: 10px 0px;
	}

img.symbol {
	display: inline;
	padding: 0px 2px;
	vertical-align: middle;
	}			

ol li {
	font-size: 1em;
	}

ol li ul li {
	font-size: 0.8em;
	list-style: none;
	font-style: italic;
	}

.photo-album {
	width: 100%;
	height: auto;
	margin: 10px auto;
	text-align: center;
	display: inline-block;
	}

.photo-album p, li, h3 {
	text-align: left;
	}

#content div.photo-album h1 {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.51em;
	}	

.photo-desk {
	text-align: justify;
	width: 40%;
	min-width: 250px;
	display: inline-block;
	padding: 0px 10px;
	}

.photo-img {
	width: 40%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	margin: 10px;
	max-width: 500px;
	}

.photo-img img {
	width: 100%;
	max-height: 400px;
	}

.photo {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	}

#letter {
	width: 100%;
	height: auto;
	margin: 40px auto;
	text-align: center;
	display: inline-block;
	}

#letter h1 {
	text-align: center;
	}

.transcript {
	text-align: justify;
	width: 50%;
	min-width: 250px;
	display: inline-block;
	padding: 0px 10px;
	}

#let-img {
	width: 30%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	margin: 10px;
	max-width: 300px;
	}

.letter {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	width: 100%;
	}

#let-img img {
	width: 100%;
	}		

.sig {
	text-align: right;
	}

.song {
	text-align: right;
	font-style: italic;
	font-size: 0.8em;
	}	

#letter-drop {
	text-align: center;
	width: 200px;
	max-width: 700px;
	margin: 0px auto;
	cursor: pointer;
	color: #5e6180;
	}

#letter-drop:hover {
	text-decoration: underline;
	}

#letter-dropnav {
	text-align: center;
	min-width: 250px;
	max-width: 700px;
	margin: 0px auto;
	border-bottom: 1px solid #ff3400;
	}		

#letter-dropnav ul {
	list-style: none;
	padding: 0;
	}

#letter-dropnav ul li {
	display: block;
	padding: 0px 25px;
	text-align: center;
	}

#letter-nav {
	text-align: center;
	min-width: 250px;
	max-width: 700px;
	margin: 0px auto;
	border-bottom: 1px solid #ff3400;
	display: none;
	}

#letter-nav h3 {
	text-align: center;
	display: none;
	}

#letter-nav ul {
	list-style: none;
	padding: 0;
	}

#letter-nav ul li {
	display: block;
	padding: 0px 25px;
	text-align: center;
	}
	
#letter a.top {
	color: #ff3400;
	font-family: "Gill Sans", Arial, serif;
	font-size: 1.01em;
	line-height: 1.05em;
	text-align: center;
	font-weight: bold;
	width: 200px;
	margin: auto;
	}

.browse {
	float: none;
	border: 4px double #ff3400;
	width: 210px;
	padding: 0px;
	text-align: center;
	margin: 10px auto;
	}

.browse h3 {
	padding: 2px;
	font-size: 1.3em;
	line-height: 1.2em;
	margin: 1px;
	text-align: center;
	}

.browse-b {
	float: none;
	border: 4px double #ff3400;
	width: 210px;
	padding: 0px;
	text-align: center;
	margin: 10px auto;
	}

.browse-b h3 {
	padding: 2px;
	font-size: 1.3em;
	line-height: 1.2em;
	margin: 1px;
	text-align: center;
	}

#content div.photo-album h1 {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.51em;
	}		
	
}

@media screen and (min-width: 750px) {

#letter-drop {
	display: none;
	}

#letter-nav {
	display: block;
	}

#letter-nav ul li {
	display: inline-block;
	}
	
#letter-nav h3 {
	display: block;
	}
	
	
}

@media screen and (min-width: 718px) {

#topline {
	display: block;
	}

#header {
	display: block;
	width: 95%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 164px;
	}	
#body {
	}

#body2 {
	}	
	
#content h1 {
	text-align: left;
	}

#content p.leftfoot {
	display: block;
	}
	
#content p.rightfoot {
	display: block;
	}

#logo {
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 20px;
	}

.nav {
	display: inline-block;
	position: relative;
	float: right;
	margin-right: 20px;
	height: 164px;
	max-height: 184px;
	}		

.nav ul.mobile {
	display: none;
	}

.nav ul.bigger {
	display: block;
	}
	
.nav li.mobile {
	display: none;
	}

.nav li.bigger {
	display: block;
	}		

/*#letter-nav ul li {
	display: inline-block;
	}*/

#letter h1 {
	text-align: center;
	}

.browse {
	float: right;
	margin: 10px;
	}

}

@media screen and (min-width: 900px) {
	
#header {
	display: block;
	width: 95%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 0px;
	}
	
#censor {
	display: inline-block;
	vertical-align: top;
	}

#logo {
	float: none;
	vertical-align: top;
	margin: 0px 15px;
	}

.nav {
	float: none;
	vertical-align: top;
	}

#letter-nav ul li {
	display: inline-block;
	}

#content p.leftfoot, #content p.rightfoot {
	width: 240px;
	font-size: 1.2em;
	}

}

@media screen and (min-width: 1160px) {

#topline {
	width: 1100px;
	text-align: center;
	}

#logo {
	margin: 0px 115px;
	background-image: url(images/ma-logo.png);
	width: 334px;
	height: 164px;
	background-repeat: no-repeat;
	background-size: 334px 164px;
	}

#logo h1 {
	font-family: "Special Elite", Courier, serif;
	font-size: 3em;
	text-align: center;
	}	

.nav {
	width: 290px;
	height: 184px;
	background-image: url('images/ma-nav.png');
	background-repeat: no-repeat;
	background-size: 290px 184px;
	}
	
#content p.leftfoot, #content p.rightfoot {
	width: 240px;
	font-size: 1.2em;
	}
}